.din-content {
    margin: 10px
}

.App-logo {
    /*animation: App-logo-spin infinite 20s linear;*/
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
    margin-top: 51px;
    /*border-radius: 4px;*/
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.App-title {
    font-size: 1.2em;
    text-align: center;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 3px 0px;
    font-size: 18px;
    line-height: 20px;
}

.rmd-container {
    /*width: 600px;*/
    border: 1px solid rgba(0, 0, 0, .125) !default;
    padding: 8px;
    margin: 10px auto;
}

@media screen and (min-width: 768px) {
    .rmd-container {
        margin: 50px auto;
    }
}
